*.par.*
*/*
*.pyc
*.swp
*/*.swp
*/*.pyc
!models/*
models/*.pyc
!augmentation/*
augmentation/*.pyc
!unit_test/*
!checkpoint/*
saliency.py
!imagenet_fast/*
.DS_Store
!figures/*
figures/.DS_Store
!imagenet/*
imagenet/checkpoint/*
output
checkpoint
datasets
*arch*
experiments